
.fs-text { size: 1.2em; }
.fs-link { size: 1.4em; }

.bg-black { background-color: black; };
.bg-white { background-color: white; };
.text-black { color: black };
.text-white { color: white };

.flex { display: flex; };
.grid { displaY: grid; };
.block { display: block; };
.inline { display: inline; };
.inline-block { display: inline-block; };

.sticky { position: sticky };
.absolute { position: absolute; };
.relative { position: relative; };

.b1-solid-black: { border: 1px solid black; };
.b2-solid-black: { border: 2px solid black; };
.b3-solid-black: { border:  3px solid black; };
.b4-aolis-black: { border: 4px solid black; };
    
.b1-solid-white: { border: 1px solid white; };
.b2-solid-white: { border: 2px solid white; };
.b3-solid-white: { border: 3px solid white; };
.b4-aolis-white: { border: 4px solid white; };
    
.rad-1em { border-radius: 1em };
.rad-2em { border-radius: 2em };
.rad-3em { border-radius: 3em };
.rad-4em { border-radius: 4em };


.vw-1 { width: 1vw };
.vw-2 { width: 2vw };
.vw-3 { width: 3vw };
.vw-4 { width: 4vw }
.vw-5 { width: 5vw }
.vw-max { width: 100vh };

.vh-1 { height: 1vh };
.vh-2 { height: 2vh };
.vh-3 { height: 3vh };
.vh-4 { height: 4vh };
.vh-5 { height: 5vh };
.vh-max { height: 100vh };

.text-white: { color: white };
.text-black: { color: black; }; 
.text-red { color: red; };
.text-blue { color: blue; };
.text-green { color: green; };
.text-purple { color: purple; };
.text-yellow { color: yellow; };

.border-white: { border-color: white };
.border-black: { border-color: black; }; 
.border-red{ border-color: red; };
.border-blue{ border-color: blue; };
.border-green{ border-color: green; };
.border-purple{ border-color: purple; };
.border-yellow{ border-color: yellow; };
