<header id="header" class="header">
  <div id="title">
    <h1 id="title--text" class="text">Chat App</h1>
  </div>
  <nav id="navbar" class="navbar">
    <ul id="navbar--list" class="list inline">
    <li class="item nav-item">
      <a class="link nav-link" href="/">Welcome</a>
    </li>
    <li class="item nav-item">
      <a class="link nav-link" href="/chat">Chat</a>
    </li>
  </ul>
  </nav>
</header>
