<section id="controls" class="chat--controls">
  <form id="message-form" class="chat--form">
    <%- include('./messagebox.ejs') %>  
    <%- include('./submit.ejs') %>  
  </form>
</section>

<style>
  .chat--controls {
    margin-top: 2%;
  }
</style>
