
<div id="window" class="chat--window">
  <ul id="message-list" class="list">
  </ul>
</div>

<style>
  #window {
    width: 30%;
    height: 65%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
  #message-list {
    list-style-type: none;
    display: flex
    flex-direction: column;
    text-align: center;
    justify-content: center;

    height: 100%;
    overflow-x: hidden;
    overflow-y: scrolly
  }
</style>
