
<div id="window" class="window">
  <ul class="messages list">
  </ul>
</div>

<style>
  .window {
    width: 30%;
    height: 65%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
  .messages {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 5px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
</style>
