#messages {
    --messages--margin: 0;
    --messages--pad: 0;
    display: flex;
    flex-direction: column; 
    list-style-type: none;
    padding: var(--messages--margin);
    margin: var(--messages--pad);

    & .item {
      --pad-x: 0.5rem;
      --pad-y:   1rem;
      --item--pad: var(--pad-x) var(--pad-y);
      padding: var(--item--pad);
    }
    & .text {
      --text--color: var(--clr--black--100);
      color: var(--text--color);
    }
  };
