

<nav id="navbar" class="mavbar">
  <ul id="nav--list" class="list">
    <li class="item">
      <a class="link" href="/">Welcome</a>
    </li>
    <li class="item">
      <a class="link" href="/blog">Blog</a>
    </li>
  </ul>
</nav>
