<style>
  #navbar-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
  }
  .list-item {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    margin: 0 10px 0 10px;
  }
</style>

<nav class="navbar">
  <ul id="navbar-list" class="list">
    <li class="item list-item">
      <a href="/" class="link nav-link">Home</a>
    </li> 
    <li class="item list-item">
      <a href="/chat" class="link nav-link">Chat</a>
    </li>
</ul>
</nav>
